<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Components.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Life Progress.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Settings.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Tasks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TasksTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0439133925518A1200B62018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D7BABE254587B7003A9774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E73C2A2542C2030092B918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E73C432542C2040092B918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E73C4E2542C2040092B918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E73CA82543590F0092B918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
